
.tooltip-inner * {
    color: white !important;
    margin: 0;
}

.tooltip-inner .container {
    color: white;
    text-align: start;
}

.tooltip-inner {
    width: fit-content;
    max-width: fit-content;
}
